@font-face {
    font-family: HeaderFont;
    src: url(../Fonts/Sceageus.otf);
  }
.page-header-container{
    margin-top: -43px;
    text-align: center;
    margin-bottom: 86px;
  }
  .page-header{
    font-family: HeaderFont;
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    color: #FAFFFD;
  }
  .page-nav-bar{
    background-image: url(../images/Shared/Nav_Bar.png);
  }
    .body-class{
        background-image: url(../images/Shared/About_Me_BG.png);
		background-repeat: no-repeat;
        height: 2900px;
    }
    .content {
        width: 1920px;
        height: 2268px;
        padding-top: 118px;
    }

.who-am-i-grid{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 106px;
    margin-left:327px;
    width:1266px;
}
.who-am-i-right-container{
    padding-top: 200px;
    margin-left: 152px;
}
.who-am-i-text-container{
    max-width: 500px;
}
.text{
    color:#A9ACA9;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    margin: 0px; 
}
.text-header{
    color:#FAFFFD;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 36px;
    margin:0px;
    text-align: center;
    line-height: 26px;
    margin-bottom: 30px;
}
.about-my-experience-grid {
    display: grid;
    margin-left:367px;
    margin-top:180px;
    width: 1186px;
}
.about-my-experience-header{
    color:#FAFFFD;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 36px;
    margin:0px;
    text-align: center;
}
.about-my-experience-text-container{
    max-width: 1186px;
}
.bottom-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 213px;
    margin-top: 180px;
    width: 1600px;
}
.about-my-study-grid{
    width:417px;
}
.about-my-study-text-container{
    max-width: 417px;
}

.my-skills-grid{
    width:421px;
    margin-left: 110px;
}
.my-skills-text-container{
    max-width: 421px;
}
.languages-grid{
    width: 237px;
    margin-left: 120px;
}