::-webkit-scrollbar {
    width: 2px;
    height: 0px;
  }
      /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(29, 30, 24); ; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(64, 64, 64); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(64, 64, 64); 
  }

  .body-class{
    width: 1920px;
    margin: 0;
    overflow-x :hidden; 
  }