
  
  .wrapper {
    display: table;
    position: relative;
    width:1080px;
    height:627px;
  }
  
  .playpause {
    background-image: url("../images/play-button.png");
    background-repeat: no-repeat;
    width: 130px;
    height: 130px;
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-size: contain;
    background-position: center;
  }
  
  .playpause {
    opacity: 1;
    transition: opacity 400ms;
  }
  
  .playpause[hidden] {
    opacity: 0;
    display: block;
  }
.centered-text{
    margin-left:367px;
    margin-bottom:211px;
    max-width:1186px;
}
.centered-text-header{
    color:#FAFFFD;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 26px;
    margin: 0px;
    text-align: center;
}
.centered-text-text{
    color:#A9ACA9;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.67;
    margin: 0px;
    margin-bottom:21px;
    margin-top:15px;
    text-align: center;
}
.video-container{
    margin-left: 420px;
    margin-bottom:196px;
}
.image-right-orientated-image{
    margin-left: 74px;
    width: 920px;
}
.image-right-orientated-text-container{
    width:502px;
    margin-top: 54px;
}
.image-right-orientated{
    margin-bottom: 196px;
    margin-left: 213px;
    display: grid;
    grid-template-columns: auto auto;
    width: 1380px;
}
.image-left-orientated{
    margin-bottom: 196px;
    margin-left: 213px;
    display: grid;
    grid-template-columns: auto auto;
    width: 1380px;
}
.image-left-orientated-image{
    margin-right: 154px;
    width: 920px;
}
.image-left-orientated-text-container{
    margin-top: 54px;
    width: 419px;
}
.text-header{
    color:#FAFFFD;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 26px;
    margin: 0px;
}
.text{
    color:#A9ACA9;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    margin: 0px;
    margin-top:30px;
}

.page-header-container{
    margin-top: 32px;
    text-align: center;
    margin-bottom: 85px;
  }
  .page-header{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    line-height: 85px;
    color: #FAFFFD;
  }
  .page-nav-bar{
    background-image: url(../images/Shared/Nav_Bar.png);
  }
    .body-class{
        background-color:#1D1E18 ;
        width: 1920px;
    }
    .content {
        width: 1920px;
        padding-top: 118px;
    }
